@charset "UTF-8";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-container {
  width: 80%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .stat-header {
    width: 100%;
    flex-basis: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    .stat-header-wrapper {
      height: 125px;
      width: 25%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 5px;
      color: white;

      &.member {
        background-color: #0d6efd;
      }

      &.board {
        background-color: #dc3545;
      }

      &.reply {
        background-color: #198754;
      }

      .stat-title {
        flex-basis: 25%;
        margin-top: 15px;
        font-size: 20px;

        display: flex;

        img {
          width: 32px;
          margin-right: 10px;
        }
      }

      .stat-count {
        flex-basis: 75%;
        font-size: 48px;
        font-weight: 800;
      }
    }
  }

  .stat-body {
    margin-top: 20px;
    width: 100%;
    flex-basis: 100%;

    padding: 25px;

    .nav-link {
      width: 160px;
      height: 75px;
      font-size: 24px;
      font-weight: 800;
    }

    .tab-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .tab-pane {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .board-chart {
          width: 50%;
        }
      }
    }
  }
}