.movie-list {
  background: #f6f5f7;
  //height: 100%;
    
}
.movie-list-main {
    padding-top: 0;
    //width: 100%;
    display: grid;
    grid-template-areas: 'search' 'movie';
    grid-template-rows: 10% 90%;
    .search {
        grid-area: search;
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;

        
        .search-select {
            width: 150px;
            height: 40px;
            
        }
        .search-text {
            width: 250px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .search-btn {
            width: 80px;
            border-radius: 5px;
            border: 0;
            background-color: #483D8B;
            color: white;
            margin-right: 30px;

        }
        input {
            height: 40px;
        }
    }
    .movie{
        grid-area: movie;
        display: flex;
        flex-flow: row wrap;
        
        .movie-poster{

            top: 0;
            height: 330px;
            width: 240px;
            background-color: #ffffff;
            padding: 0;
            margin:25px;
            text-align: center;
            position: relative;
            .poster-img{
                height: 230px;
                width: 240px;
            }
            .movie-name{
                margin-top: 4px;
                margin-bottom: 0;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 700;
            }
            .release-date{
                margin-top: 5px;
                font-size: 14px;
                margin-bottom: 2px;
            }
            .movie-btn{
                color: #483D8B;
                font-weight: 700;
                width: 120px;
                background-color: #f0eef1;
                letter-spacing: 3px;
                border-radius: 5px;
                border: 0;
                opacity: 0;
                position: absolute;
                padding: 10px;
                left: 26%;
                //transition: 0.2s all ease-in-out;

            }
            .detail{
                top: 20%;
            }
            .ticketing{
                top: 38%;
            }
            

            label{
                display: flex;
                justify-content: center;
                align-items: center;
                    .time-img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        margin-left: 2px;
                        margin-bottom: 4px;
                        font-size: 13px;
                    }
                }
            
        }
        
        .movie-poster:hover .movie-btn{
            opacity: 1;
        }
    }
}

.movie-poster:hover .poster-img{
    filter: brightness(0.3);
}


