.search-div {
  padding-right: 30px;
  padding-top: 30px;
}
.search-div #search {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  height: 50px;
}
.search-div #search input {
  width: 500px;
}
.search-div #search .search-btn {
  width: 80px;
  background-color: rgb(61, 64, 115);
  color: white;
}

.master {
  padding-top: 30px;
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  min-height: 90%;
  /* background-color: #f5f5f5; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: left;
}
.master .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.master .movie-list .movie-list-item {
  margin-bottom: 110px;
}

.container-movie {
  margin: 0 19px;
  /* min-width: 1000px;  */
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid #eee;
  box-sizing: border-box;
  background-color: #262626;
  cursor: pointer;
}

.card__background,
.card__shadow,
.card__info,
.card__follow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card.hover .card__background,
.card:hover .card__background {
  filter: blur(2px);
  transform: translateY(-10px);
}

.card__background {
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out, filter 0.2s ease;
}
.card__background img {
  width: 100%;
  height: 100%;
}

.card.hover .card__shadow,
.card:hover .card__shadow {
  opacity: 0.95;
}

.card__shadow {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0, #000 100%);
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.card.hover .card__info,
.card:hover .card__info {
  transform: translateY(-37px);
}

.card__info {
  top: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 15px 10px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.card__name {
  text-transform: capitalize;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
}

.card__name:after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #f2d423;
  margin: 5px 0 3px;
}

.card__about,
.card__description {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 8px;
}

.card__about {
  align-self: flex-start;
  line-height: 14px;
}

.card__about .country {
  text-transform: capitalize;
}

.card.hover .card__description,
.card:hover .card__description {
  max-height: 400px;
  opacity: 1;
}

.card__description {
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.2s;
}

.card.hover .card__follow,
.card:hover .card__follow {
  transform: translateY(0);
}

.card__follow {
  top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: rgb(61, 64, 115);
  transform: translateY(37px);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;
}
.card__follow a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card__follow a span {
  position: relative;
  top: 30%;
}

.card__follow:hover {
  background-color: #dec00d;
  border-color: #dec00d;
}

.heart-div {
  position: absolute;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #e2c7c7;
  justify-content: flex-end;
  z-index: 9999;
  margin-top: 10px;
  margin-left: 250px;
}

.action {
  /* height: 1vh;
  width: 1vh; */
  margin: auto;
  /* position: absolute; */
  /* top: 0;
  bottom: 0; */
  z-index: 9999999;
}

.heart {
  background-color: white;
  width: 40%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg);
}

.heart:before, .heart:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.heart:before {
  top: -50%;
  left: 0;
}

.heart:after {
  top: 0;
  left: 50%;
}

.heart.love {
  background: #F80808;
}

.heart.love:before, .heart.love:after {
  background: #F80808;
}

.heart.active {
  animation: grow-shrink 0.3s ease 1;
}

@keyframes grow-shrink {
  40% {
    transform: scale(1.1) rotate(-45deg);
  }
  75% {
    transform: scale(0.9) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}
.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.bubbly-button {
  display: inline-block;
  font-size: 20px;
  padding: 1em 2em;
  width: 300px;
  height: 70px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(61, 64, 115);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(60, 0, 117, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgb(61, 64, 115) 20%, transparent 30%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgb(61, 64, 115) 15%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgb(61, 64, 115) 15%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%), radial-gradient(circle, rgb(61, 64, 115) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #343762;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*# sourceMappingURL=movieList.css.map */
