@charset "UTF-8";

#movie-select {
  width: 200px;
  padding: .8em .5em;
  font-size: 15px;
  appearance: none;
}

#theater-select {
  width: 200px;
  padding: .8em .5em;
  font-size: 15px;
  appearance: none;
}

.reserve-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 800px;
  /* border: 1px solid #dddddd; */

  > div {
    border: 1px solid #dddddd;
  }
}

.reserve-title {
  border-bottom: 1px solid #dddddd;
  background-color: #444444;
  text-align: center;
  color: #dddddd;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}

.item {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  //background-image:
  //        linear-gradient(
  //                        90deg,
  //                        #3B0B5F 10px,
  //                        #EEE 10px,
  //                        #EEE 11px,
  //                        transparent 11px);
  padding: 10px 10px 10px 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: #3B0B5F;
    opacity: 0.5;
    color: white;
  }

  &.selected {
    background-color: #2f074c;
    opacity: 0.5;
    color: white
  }
}

.ticket-item {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 10px 10px 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .ticket-item-info {
    text-align: center;
  }
}

.movie-part {
  width: 284px;
}

.theater-part {
  width: 264px;
}

.day-part {
  width: 91px;
}

.time-part {
  width: 384px;
}

.sort-wrapper {
  margin: 10px 6px 6px 10px;
  /* padding: 3px; */
  display: flex;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;

  > div {
    padding: 3px;
  }
}

/* .sort-wrapper>div:hover { */
/*     border-bottom: 1px solid #111111; */
/* } */



.sort-selected {
  font-weight: bold;
  border-bottom: 1px solid #111111;
}

.reserve-date {
  //padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 770px;
}

//.movie-week-of-day {
//  margin-left: 5px;
//  font-size: 10px;
//  width: 12px;
//  height: 22px;
//  line-height: 22px;
//}
//
//.movie-day {
//  text-align: center;
//  width: 34px;
//  height: 22px;
//  font-size: 17px;
//  font-weight: bold;
//}

.saturday {
  color: #31597E;
  font-weight: bold;
}

.sunday {
  color: #AF2D2D;
  font-weight: bold;
}

.active {
  background-color: #3B0B5F;

  > * {
    color: white;
  }
}

.timeButton:hover,
.timeButton.active {
  background: #3B0B5F;
  color: white;
}

.timeButton:visited {
  background: #3B0B5F;
  color: white;
}

.timeButton {
  border: 0;
  width: 90px;
  height: 40px;
}

.submit_btn {
  position: relative;
  border: 0;
  padding: 15px 25px;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
}

.submit_btn:hover,
.submit_btn:active {
  background-color: #3B0B5F;
}