@charset "UTF-8";

body {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "footer";
  grid-template-rows: 70px 1fr 50px;
  /* 	grid-gap: 5px; */
  height: 100vh;
  /*   margin: 10px;   */
}

header {
  background: white;
  grid-area: header;
  display: grid;
  grid-template-areas: "main-logo main-menu main-login";
  grid-template-columns: 20% 60% 20%;

  .main-logo {
    img {
      position: absolute;
      left: 1%;
      top: 10px;
      height: 50px;
    }
  }

  box-shadow: 2px 6px 15px -4px #a1a1a1;

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-list {
      list-style: none;
      display: flex;
      padding: 0px;

      .menu-li {
        padding: 17px;

        .menu-list-name {
          color: black;
          text-decoration: none;
          font-size: 22px;
        }
      }
    }
  }

  .main-login {
    display: flex;
    justify-content: right;
    margin: 19px;

    .menu-list-name {
      color: black;
      text-decoration: none;
      font-size: 22px;
      margin-left: 30px;
    }
  }
}

section {
  //background: #ababab;
  grid-area: section;
}

footer {
  background: #707070;
  grid-area: footer;
  height: fit-content;
  ul {
    padding: 0 !important;
  }
  a {
    color: white !important;
    &:visited {
      color: white !important;
    }
    &:hover {
      color: white !important;
    }
  }
  .copyright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
