section {
//  display: grid;
//  grid-template-areas: "board-title" "board-content" "board-reply";
//  grid-template-rows: 10% 60% 30%;
  width: 90%;
  margin-left: 5%;


    .board-title {
      grid-area: board-title;
	  margin-top: 3%;


	  .title-name{
	  	font-size: 40px;
	  	font-weight: 600; 
	  	margin-bottom: 2%;
	  }
	  
	  .user-info{
			display: flex;
		img{
			width:  100px;
			margin-bottom: 2%;
		}
		.user-info-name{
			flex-direction: column;
			margin-bottom: 2%;
			margin-left: 2%;
			margin-top: 1%;
			.user-name{
				font-weight: 600; 
				font-size: 20px;
			}
		}
	  }
    }
    .board-content {
      padding-top: 2%;
      padding-bottom: 2%;
      grid-area: board-content;
      min-height: 400px;
      border-bottom: 1px solid black;
    }
    .board-reply {
      grid-area: board-reply;
      .reply{
      	margin-top: 2%;
      	font-size: 22px;
      	font-weight: 600;
      }

      .reply-submit-btn{
      	display: flex;
    	justify-content: flex-end;
      	.board-view-submit{
      		margin-top:1%;
      		margin-bottom: 1%;
      		}
      	}	
    }
    .btn-list{
    	display: flex;
    	align-items: center;
    	justify-content: flex-end;
    	margin-top: 2%;
    	.write-btn{
    	margin-left:5%;
    	margin-right:5%;
    		.learn-more{
    			width: 150px;
    			height: 50px;
    			img{
    				width: 20px;
    				margin-right:10%;
    			}

    		}
    		    .update-btn{
    			background-color: blue;
    			
    			span{
    				color: white;
    				width: 100%;
   				}
    		}
			.delete-btn{
			background-color: red;
			border: 0;
			    span{
    				color: white;
    				width: 100%;
   				}
			}
    	}
	}
	

}

button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}
button span {
  color: #164ca7;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
button:hover {
  animation: rotate 0.7s ease-in-out both;
}
button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.swal2-modal .swal2-buttonswrapper {
    display: flex !important;
    justify-content: center;
    margin-top: 7%;
    
}
.line{
	display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "reply-title reply-delete";
    border-bottom: 1px solid black;
    margin-top: 2%;
    .reply-delete{
    	display: flex;
    	justify-content: flex-end;
    }
}
.reply-title{
	display: flex;

    img{
    	width: 100px;
    	height: 100px;
    }
}


.write-btn.text-center {
  display: flex;
  justify-content: flex-end;
}

.board-user{
	display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "user-info btn-list";
    border-bottom: 1px solid;
}

.deleteBtn{
	    border: 0;
    background-color: white;
    color: red;
    font-size: 18px;
    font-weight: 600;
    
}
.reply-submit-btn{
	margin-top: 2%;
	margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    button{
    	background-color: rgb(61, 64, 115);
    	color: white;
    	font-size: 18px;
    	width: 150px;
    	img{
    		width:30px;
    		margin-right: 10%;
    	}
    }
}
      .reply-content-input{
      	width: 100%;
      	height: 100px;
      	resize:none;
      	border: 1.5px solid black;
      }
