@charset "UTF-8";
*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    /*   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg"); */
    background-color: #FFF;
    background-size: cover;
}

.wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    transform: translate(-50%, 0);
}

.note-container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
}

.note-container .left {
    float: left;
    width: 37.6%;
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white);
}

.note-container .left .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;
}

.note-container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.note-container .left input {
    float: left;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.note-container .left input:focus {
    outline: none;
}

.note-container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.note-container .left .people {
    margin-left: -1px;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    padding-top: 10px;
    padding-left: 0 !important;
    width: calc(100% + 2px);
    overflow-y: auto;
    overflow-x: hidden;
}

.note-container .left #search-people {
    height: 460px;
}

.note-container .left #partner-people {
    height: 550px;
}

.note-container .left .people::-webkit-scrollbar {
    width: 15px;
}

.note-container .left .people::-webkit-scrollbar-thumb {
    background: #e6e6e6;

    background-clip: padding-box;
    border: 3px solid transparent;
    width: 3px;
}

.note-container .left .people::-webkit-scrollbar-track {
    background: #ffffff;
    width: 3px;
}


.note-container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: var(--white);
}

.note-container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.note-container .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.note-container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: var(--dark);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.note-container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: var(--grey);
    background-color: var(--white);
}

.note-container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
}

.note-container .left .people .person.active, .note-container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: var(--blue);
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.note-container .left .people .person.active span, .note-container .left .people .person:hover span {
    color: var(--white);
    background: transparent;
}

.note-container .left .people .person.active:after, .note-container .left .people .person:hover:after {
    display: none;
}

.note-container .right {
    position: relative;
    float: left;
    width: 62.4%;
    height: 100%;
}

.note-container .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}

.note-container .right .top span {
    font-size: 15px;
    color: var(--grey);
}

.note-container .right .top span .name {
    color: var(--dark);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.note-container .right .chat {
    position: relative;
    display: none;
    overflow: auto;
    padding: 0 10px 92px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100% - 48px);
    justify-content: flex-end;
    flex-direction: column;
}

.note-container .right .chat.active-chat {
    display: flex;
}

.note-container .right .chat.active-chat .chat-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 15px;
}

.note-container .left .partner-list {
    height: calc(100% - 100px);
}

.note-container .right .chat.active-chat .chat-list .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

/* .note-container .right .chat.active-chat .bubble:nth-of-type(1) { */
/*   -webkit-animation-duration: 0.15s; */
/*           animation-duration: 0.15s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(1) { */
/*   -webkit-animation-duration: 0.15s; */
/*           animation-duration: 0.15s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(2) { */
/*   -webkit-animation-duration: 0.3s; */
/*           animation-duration: 0.3s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(3) { */
/*   -webkit-animation-duration: 0.45s; */
/*           animation-duration: 0.45s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(4) { */
/*   -webkit-animation-duration: 0.6s; */
/*           animation-duration: 0.6s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(5) { */
/*   -webkit-animation-duration: 0.75s; */
/*           animation-duration: 0.75s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(6) { */
/*   -webkit-animation-duration: 0.9s; */
/*           animation-duration: 0.9s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(7) { */
/*   -webkit-animation-duration: 1.05s; */
/*           animation-duration: 1.05s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(8) { */
/*   -webkit-animation-duration: 1.2s; */
/*           animation-duration: 1.2s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(9) { */
/*   -webkit-animation-duration: 1.35s; */
/*           animation-duration: 1.35s; */
/* } */
/* .note-container .right .chat.active-chat .bubble:nth-of-type(10) { */
/*   -webkit-animation-duration: 1.5s; */
/*           animation-duration: 1.5s; */
/* } */
.note-container .right .write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}

.note-container .right .write input {
    font-size: 16px;
    float: left;
    width: 347px;
    height: 40px;
    padding: 0 10px;
    color: var(--dark);
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.note-container .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}

.note-container .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}

.note-container .right .write .write-link.send {
    border: none;
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    margin-left: 45px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
    background-repeat: no-repeat;
    background-position: center;
}

.note-container .right .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.note-container .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: " ";
    transform: rotate(29deg) skew(-35deg);
}

.note-container .right .bubble.you {
    float: left;
    color: var(--white);
    background-color: var(--blue);
    align-self: flex-start;
    position: relative;
    left: 20px;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}

.note-container .right .bubble.you:before {
    left: -3px;
    background-color: var(--blue);
}

.note-container .right .bubble.me {
    float: right;
    color: var(--dark);
    background-color: #eceff1;
    align-self: flex-end;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}

.note-container .right .bubble.me:before {
    right: -3px;
    background-color: #eceff1;
}

.note-container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.note-container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
}

.note-container .right .conversation-start span:before, .note-container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: "";
    background-color: var(--light);
}

.note-container .right .conversation-start span:before {
    left: 0;
}

.note-container .right .conversation-start span:after {
    right: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

li {
    list-style-type: none;
}









.cat-left {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #FFCA95;
}
.dog-right {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
  background: #20314E;
}
.cat {
  height: 182px;
  width: 200px;
  position: absolute;
	top: 78%;
    right: 541px;

  transform: translate(0, -50%);
}
.cat .ears1 {
  height: 0;
  width: 0;
  position: relative;
  left: 90px;
  border-bottom: 27px solid #475881;
  border-left: 10px solid transparent;
  border-right: 23px solid transparent;
}
.cat .ears1::before {
  display: block;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  left: 24px;
  border-bottom: 27px solid #475881;
  border-left: 10px solid transparent;
  border-right: 23px solid transparent;
}
.cat .head1 {
  height: 74px;
  width: 135px;
  position: relative;
  left: 65px;
  z-index: 2;
  box-shadow: -8px 0 0 #475881;
  border-radius: 37px;
  background: #7C85AB;
}
.cat .head1 .eyes1 {
  height: 12px;
  width: 12px;
  position: relative;
  top: 37px;
  left: 64px;
  border-radius: 100%;
  animation: 9s catRead infinite;
  background: black;
}
.cat .head1 .eyes1::before {
  display: block;
  content: "";
  height: 12px;
  width: 12px;
  position: relative;
  left: 18px;
  border-radius: 100%;
  background: black;
}
.cat .head1 .nose1 {
  height: 22px;
  width: 22px;
  position: relative;
  top: 40px;
  left: 60px;
  border-radius: 20px;
  background: #FBF1D8;
}
.cat .head1 .nose1::before {
  display: block;
  content: "";
  height: 22px;
  width: 22px;
  position: relative;
  left: 22px;
  border-radius: 20px;
  background: #FBF1D8;
}
.cat .head1 .nose1::after {
  display: block;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  top: -22px;
  left: 12px;
  border-radius: 10px;
  border-top: 10px solid #FFA5C0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.cat .body1 {
  height: 110px;
  width: 200px;
  position: relative;
  top: -30px;
  z-index: 1;
  border-radius: 55px;
  background: #7C85AB;
}
.cat .body1 .left-paw1 {
  height: 25px;
  width: 37px;
  position: relative;
  top: 70px;
  left: 95px;
  border-radius: 12px;
  animation: 9s catLeftType infinite;
  background: #FBF1D8;
}
.cat .body1 .right-paw1 {
  height: 25px;
  width: 37px;
  position: relative;
  top: 45px;
  left: 142px;
  border-radius: 12px;
  animation: 9s catRightType infinite;
  background: #FBF1D8;
}
.cat .tail1 {
  height: 24px;
  width: 80px;
  position: relative;
  top: -54px;
  left: -31px;
  z-index: 0;
  border-radius: 17px 0 0 17px;
  background: #475881;
}
.cat .PRlaptop {
  position: relative;
  top: -151px;
  left: 170px;
  z-index: 2;
}
.cat .PRlaptop .PRscreen {
  height: 85px;
  width: 130px;
  border-radius: 8px;
  transform: skew(-18deg);
  background: #20314E;
}
.cat .PRlaptop .PRscreen::before {
  display: block;
  content: "";
  height: 17px;
  width: 10px;
  position: relative;
  top: 38px;
  left: 56px;
  border-radius: 6px;
  background: #475881;
}
.cat .PRlaptop .PRscreen::after {
  display: block;
  content: "";
  height: 17px;
  width: 10px;
  position: relative;
  top: 21px;
  left: 70px;
  border-radius: 6px;
  background: #475881;
}
.cat .PRlaptop .PRkeyboard {
  height: 12px;
  width: 132px;
  position: relative;
  left: -14px;
  border-radius: 0 6px 6px 0;
  background: #475881;
}
.cat .PRlaptop .PRkeyboard::before {
  display: block;
  content: "";
  height: 12px;
  width: 72px;
  position: relative;
  left: -68px;
  border-radius: 6px;
  background: #20314E;
}
.dog {
  height: 182px;
  position: absolute;
	top: 78%;
    left: 571px;

  transform: translate(0, -50%);
}
.dog .ears2 {
  height: 0;
  width: 0;
  position: relative;
  left: 30px;
  border-bottom: 27px solid #F07E42;
  border-left: 23px solid transparent;
  border-right: 10px solid transparent;
}
.dog .ears2::before {
  display: block;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  left: 33px;
  border-bottom: 27px solid #F07E42;
  border-left: 10px solid transparent;
  border-right: 23px solid transparent;
}
.dog .head2 {
  height: 74px;
  width: 140px;
  position: relative;
  z-index: 2;
  box-shadow: 8px 0 0 #F07E42;
  border-radius: 35px;
  background: #FFA852;
}
.dog .head2 .eyes2 {
  height: 12px;
  width: 12px;
  position: relative;
  top: 37px;
  left: 50px;
  border-radius: 100%;
  animation: 9s dogRead infinite;
  background: black;
}
.dog .head2 .eyes2::before {
  display: block;
  content: "";
  height: 12px;
  width: 12px;
  position: relative;
  left: 18px;
  border-radius: 100%;
  background: black;
}
.dog .head2 .nose2 {
  height: 30px;
  width: 48px;
  position: relative;
  top: 40px;
  left: 37px;
  border-radius: 20px;
  background: #FBF1D8;
}
.dog .head2 .nose2::before {
  display: block;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  top: 3px;
  left: 9px;
  border-radius: 15px;
  border-top: 12px solid black;
  border-left: 12px solid transparent;
  border-right: 10px solid transparent;
}
.dog .body2 {
  height: 110px;
  width: 200px;
  position: relative;
  top: -30px;
  z-index: 1;
  border-radius: 55px;
  background: #FFA852;
}
.dog .body2 .left-paw2 {
  height: 25px;
  width: 37px;
  position: relative;
  top: 70px;
  left: 15px;
  border-radius: 12px;
  animation: 9s dogLeftType infinite;
  background: #FBF1D8;
}
.dog .body2 .right-paw2 {
  height: 25px;
  width: 37px;
  position: relative;
  top: 45px;
  left: 60px;
  border-radius: 12px;
  animation: 9s dogRightType infinite;
  background: #FBF1D8;
}
.dog .tail2 {
  height: 34px;
  width: 70px;
  position: relative;
  top: -64px;
  left: 150px;
  z-index: 0;
  border-radius: 0 17px 17px 0;
  background: #F07E42;
}
.dog .ORlaptop {
  position: relative;
  top: -161px;
  left: -103px;
  z-index: 2;
}
.dog .ORlaptop .ORscreen {
  height: 85px;
  width: 130px;
  border-radius: 8px;
  transform: skew(18deg);
  background: #FFCA95;
}
.dog .ORlaptop .ORscreen::before {
  display: block;
  content: "";
  height: 17px;
  width: 10px;
  position: relative;
  top: 38px;
  left: 50px;
  border-radius: 6px;
  background: #F07E42;
}
.dog .ORlaptop .ORscreen::after {
  display: block;
  content: "";
  height: 17px;
  width: 10px;
  position: relative;
  top: 21px;
  left: 64px;
  border-radius: 6px;
  background: #F07E42;
}
.dog .ORlaptop .ORkeyboard {
  height: 12px;
  width: 132px;
  position: relative;
  left: 14px;
  border-radius: 6px 0 0 6px;
  background: #F07E42;
}
.dog .ORlaptop .ORkeyboard::before {
  display: block;
  content: "";
  height: 12px;
  width: 72px;
  position: relative;
  left: 128px;
  border-radius: 6px;
  background: #FFCA95;
}
@keyframes catLeftType {
  2% {
    transform: translateY(-8px);
  }
  6% {
    transform: none;
  }
  8% {
    transform: translateY(-8px);
  }
  10% {
    transform: none;
  }
  14% {
    transform: translateY(-8px);
  }
  16% {
    transform: none;
  }
  18% {
    transform: translateY(-8px);
  }
  20% {
    transform: none;
  }
  22% {
    transform: translateY(-8px);
  }
  26% {
    transform: none;
  }
}
@keyframes catRightType {
  6% {
    transform: translateY(-8px);
  }
  8% {
    transform: none;
  }
  10% {
    transform: translateY(-8px);
  }
  12% {
    transform: none;
  }
  16% {
    transform: translateY(-8px);
  }
  18% {
    transform: none;
  }
  20% {
    transform: translateY(-8px);
  }
  22% {
    transform: none;
  }
  24% {
    transform: translateY(-8px);
  }
  28% {
    transform: none;
  }
}
@keyframes catRead {
  55% {
    transform: none;
  }
  62% {
    transform: translateX(-2px);
  }
  70% {
    transition-timing-function: ease-out;
    transform: translateX(3px);
  }
  82% {
    transform: translateX(-2px);
  }
  90% {
    transition-timing-function: ease-out;
    transform: translateX(3px);
  }
  100% {
    transform: none;
  }
}
@keyframes dogLeftType {
  50% {
    transform: none;
  }
  52% {
    transform: translateY(-8px);
  }
  56% {
    transform: none;
  }
  58% {
    transform: translateY(-8px);
  }
  60% {
    transform: none;
  }
  64% {
    transform: translateY(-8px);
  }
  66% {
    transform: none;
  }
  68% {
    transform: translateY(-8px);
  }
  70% {
    transform: none;
  }
  72% {
    transform: translateY(-8px);
  }
  76% {
    transform: none;
  }
}
@keyframes dogRightType {
  54% {
    transform: none;
  }
  56% {
    transform: translateY(-8px);
  }
  58% {
    transform: none;
  }
  60% {
    transform: translateY(-8px);
  }
  62% {
    transform: none;
  }
  66% {
    transform: translateY(-8px);
  }
  68% {
    transform: none;
  }
  70% {
    transform: translateY(-8px);
  }
  72% {
    transform: none;
  }
  74% {
    transform: translateY(-8px);
  }
  78% {
    transform: none;
  }
}
@keyframes dogRead {
  5% {
    transform: none;
  }
  17% {
    transition-timing-function: ease-out;
    transform: translateX(-5px);
  }
  25% {
    transform: none;
  }
  37% {
    transition-timing-function: ease-out;
    transform: translateX(-5px);
  }
  45% {
    transform: none;
  }
}