<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/member/chat.css">
  <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
</head>
<body>
<div class="chat-container">
  <div class="chat-header">
    <div class="chat-header-wrapper">
      영화이름
    </div>
    <div class="chat-people-count-wrapper">
      <img src="../../images/person-solid.svg"/>
      <div class="chat-people-count">
      3
      </div>
    </div>
  </div>
  <div class="chat-main">
    <div class="chat-main-wrapper">
        <div class="chat">
          <div class="chat-box-header mine">
            <div class="chat-nickname">내 닉네임</div>
          </div>
          <div class="chat-box-main mine">
            <div class="chat-content">내가 보낸 메세지</div>
            <div class="chat-time-wrapper">
              <div class="chat-time">00:00</div>
            </div>
          </div>
        </div>
        <div class="chat">
          <div class="chat-box-header opponent">
            <div class="chat-nickname">상대 닉네임</div>
          </div>
          <div class="chat-box-main opponent">
            <div class="chat-content">상대가 보낸 메세지</div>
            <div class="chat-time-wrapper">
              <div class="chat-time">00:00</div>
            </div>
          </div>
        </div>
        <div class="chat">
          <div class="chat-box-header opponent">
            <div class="chat-nickname">상대 닉네임</div>
          </div>
          <div class="chat-box-main opponent">
            <div class="chat-content">상대가 보낸 메세지</div>
            <div class="chat-time-wrapper">
              <div class="chat-time">00:00</div>
            </div>
          </div>
        </div>

      <div class="chat">
        <div class="chat-box-main notice">
          <div class="chat-content">공지사항</div>
        </div>
      </div>

      <div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div><div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div><div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div><div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div><div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div><div class="chat">
        <div class="chat-box-header opponent">
          <div class="chat-nickname">상대 닉네임</div>
        </div>
        <div class="chat-box-main opponent">
          <div class="chat-content">상대가 보낸 메세지</div>
          <div class="chat-time-wrapper">
            <div class="chat-time">00:00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <div class="input-group input-group-sm">
      <textarea class="form-control shadow-none"></textarea>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="chat-btn">보내기</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>